# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

dist-server
# npm
node_modules
package-lock.json
*.log
*.gz

public
dist-server
# Coveralls
coverage

# Benchmarking
benchmarks/graphs
/dist-server/
