.prefooter{
    padding-top: 48px;
    background-color: $violet;
    background-image: url("/assets/img/footer-bg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    .prefooter_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .prefooter__top{
        display: flex;
        width: 80%;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    hr{
        margin: 0;
        background-color: rgba(255,255,255, .25);
    }
    &__top{
        padding-bottom: 36px;
    }
    .upe{
        font-size: 16px;
        font-weight: 500;
        color: $white;
        opacity: .5;
        cursor: pointer;
        margin-bottom: 10px;
        img{
            margin-left: 16px;
        }
    }
    &__contact{
        margin-right: 15px;
        color: $white;
        font-size: 18px;
        text-align: right;
        margin-top: 15px;
        .phone{
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: #fff;
        }
    }
    &__btn.btn{
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    &__middle{
        padding: 50px 0;
    }
    .builders{
        color: $yellow;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        text-transform: uppercase;
        align-items: center;
				cursor: pointer;
				&:hover{

					text-decoration: underline;
				}
        &.flat{
            margin-bottom: 51px;

            &:before{
                margin-right: 16px;
                content: '';
                width: 19px;
                height: 20px;
                background-position: center;
                background-size: cover;
                background-image: url("/assets/ico/flat.svg");
            }

        }
        &.builder{
						cursor: pointer;
            &:before{
                content: '';
                margin-right: 16px;
                background-image: url("/assets/ico/builder.svg");
                background-position: center;
                background-size: cover;
                width: 20.5px;
                height: 22px;
            }
        }
    }
    &__list{
        list-style-type: none;
        padding: 0;

        li{
            font-size: 12px;
            color: $white;
            font-weight: 300;
            margin-bottom: 12px;
						cursor: pointer;
						a{
							cursor: pointer;
						}
						&:hover{
							text-decoration: underline;
						}
        }
    }
    &__link-header{
        font-weight: 400;
        font-size: 16px;
        color: $white;
        margin-bottom: 24px;
    }

    &__bottom{
        padding-bottom: 110px;

        .search{
            position: relative;
            display: flex;
            align-items: center;
            #search-ico{
                position: absolute;
                left: 32px;
                cursor: pointer;
            }
            input{
                border: none;
                background-color: rgba(0, 0, 0, 0.25);
                padding: 10px 16px;
                padding-left: 50px;
                outline: none;
                font-size: 14px;
                color: $white;
                font-weight: 300;

                &::placeholder{
                    font-size: 14px;
                    color: $white;
                    font-weight: 300;
                }
            }
        }
    }

    &__social{
        color: $white;
        opacity: .5;
        font-size: 16px;
        font-weight: 400;
    }
}
.footer{
    background-color: $blackViolet;
    padding: 24px 0;


    .copyright{
        font-size: 12px;
        color: rgba(255,255,255, .75);
        font-weight: 400;
    }
    .middle-text{
        font-size: 8px;
        text-align: center;
        color: rgba(255,255,255,.5);
    }
    .who-create{
        color: rgba(255,255,255,.5);
        font-size: 12px;

        a {
            color: rgba(255,255,255,.5);
            font-size: 12px;
        }

        img{
            margin-left: 24px;
        }
    }
}

@media screen and (max-width: 768px){
    .flatic_cvart{
        display: flex;
        justify-content: space-between;

    }
    .prefooter .builders.flat{
        margin-bottom: 0;
    }
    .prefooter__middle{
        flex-wrap: wrap;
        .col{
            width: 50%;
            flex-basis: 30%;
            margin-bottom: 35px;
        }
    }
    .prefooter_box{
        flex-direction: column;
    }
    .prefooter__top{
        order: 2;
    }
}
@media screen and (max-width: 480px){
    .prefooter__contact .phone{
        font-size: 16px;
    }
    .prefooter__top{
        flex-direction: column;
    }
    .zastr{
        margin-top: 15px;
    }
    .flatic_cvart{
        flex-direction: column;
        justify-content: center;
    }
    .builders{
        margin-top: 20px;
    }
    .prefooter__middle .col{
        flex-basis: 100%;
    }
    .prefooter__middle{
        padding: 0 10%;
    }
}
