.genplan{
    padding-top: 72px;
    
    &__bg{
        width: 100%;
    }
    &__features{
        background-color: #F6F6F6;
        padding: 72px 0;
        position: relative;
    }
    &__item{
        cursor: pointer;
        border: 2px solid $gray;
        transition: .2s ease-in;
        padding: 21px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        padding-right: 20px;

        img{
            align-self: flex-end;
        }
        
        &__text{
            text-align: right;
            margin-top: 17px;
            line-height: 14px;
            color: $gray;
        }
        svg{
            path{
               fill: #443571; 
            }
            
        }
        .genplan__item__text{
            color: #444444;
        }

        &:hover, &.active{
            border-color: transparent;
            background-color: $yellow;
            svg{
                path{
                   fill: #443571; 
                }
                
            }
            .genplan__item__text{
                color: $violet;
            }
        }
    }
}
.genplan__features--box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .genplan__item{
       width: 16%;
    }
}

.genplan_modal{
    position: fixed;
    padding: 60px;
    max-width: 600px;
    min-width: 360px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 30%;
    
    margin: 0 auto;
    z-index: 33;
    box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: 0.3);
    .close{
        float: right;
        cursor: pointer;
    }
    .genplan_modal_title{
        color:  #443571;
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 35px;
    }
    .genplan_modal_text{
        font-weight: 300;
        font-size: 14px;
        color: #444444;
    }
    .genplan_modal_bank-title{
        color:  #443571;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 35px;
        margin-bottom: 25px;
    }
    .genplan_modal_bank{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .smaltit{
        margin-top: 10px;
        font-size: 18px;
    }
}
.genplan_modal_small{
    .genplan_modal_title{
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    .genplan__features--box{
        justify-content: center;
    }
    .genplan__features--box .genplan__item{
        width: 60%;
    }
}
@media screen and (max-width: 380px){
    .genplan__features--box .genplan__item{
        width: 100%;
    }
}