.dasboarde{
    
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 88;
    background-color: rgba(0, 0, 0, 0.37);
    top: 0;
    left: 0;
}


.modal-window{
    
    width: 100%;
    max-width: 600px;
    padding: 72px;
    position: fixed;
    background-color: $white;
    z-index: 99;
    margin: 0 auto;
    top: 30px;
    left: 0;
    right: 0;
    .close{
        position: absolute;
        right: 28px;
        top: 28px;
        width: 16px;
        height: 16px;
				cursor: pointer;
        img{
            width: 100%;
        }
    }
		label{
			cursor: pointer;
		}

    form{
        display: flex;
        flex-direction: column;

        .forme-input,
        textarea{
            border: 2px solid $gray;
            margin-bottom: 24px;
            padding: 8px 16px;
            outline: none;
            color: $blackGray;
            font-weight: 500;
            font-size: 14px;
            resize: none;

            &::placeholder{
                color: $blackGray;
                font-weight: 600;
                font-size: 14px;
            }
        }
        
        .btn{
            background-color: $yellow;
            border-radius: 0;
            font-weight: 600;
            font-size: 16px;
            margin: 0 auto;
            margin-bottom: 36px;
            box-shadow: 0px 2px 6px rgba(227, 196, 22, 0.06), 0px 6px 12px rgba(227, 196, 22, 0.12), 0px 12px 20px rgba(227, 196, 22, 0.18);
        }
        
        .custom-select{
            border: 2px solid $gray;
            margin-bottom: 24px;
            padding: 8px 16px;
            outline: none;
            color: $blackGray;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &.active{
               
                overflow: visible;
            }

            &__list{
                border: 2px solid $gray;
                position: absolute;
                box-shadow: -1px 7px 16px 0px #8d8d8d;
                width: 100%;
                left: -2px;
                top: 37px;
                background-color: $white;
                box-sizing: content-box;
            }
            &__option{
                padding: 12px 16px;
                transition: background-color .25s ease-in-out;
                &:hover{
                    background-color: $gray;
                }
            }

            &__value{
                font-weight: 300;
                display: flex;
                align-items: center;
                &:after{
                    content: '';
                    border: 4px solid transparent;
                    border-top: 5px solid $violet;
                    margin-top: 5px;
                    margin-left: 16px;
                }
            }
        }
    }
    .confirm__memo{
        text-align: center;
        color: $blackGray;
        font-size: 12px;

        a{
            text-decoration: underline;
            color: $violet;
        }
    }

    .modal-checkbox{
        margin-bottom: 30px;
				cursor: pointer;
        input{
            & + span{
                display: flex;
                .checkbox{
                    border: 2px solid $gray;
                    width: 20px;
                    height: 20px;
                }
                .text{
                    margin-left: 12px;
                }
            }
            &:checked + span{
                .checkbox{
                    border: 6px solid $yellow;
                    width: 20px;
                    height: 20px;
                    background-color: $violet;
                }
                .text{
                    margin-left: 12px;
                }
            }
        }
    }
    .datepiceres{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .datepiceres_box{
        width: 45%;
    }
    .css-1ozefeb{
        z-index: 9999;
    }
}

.modal_header{
    margin-bottom: 30px;
    .modal_header-box{
        display: flex;
    }
    .modal_header_title{
        color: #443571;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 5px;
    }
    .modal_header_info{
        color: #444444;
        font-weight: 300;
        font-size: 12px;
    }
    .modal_header-time{
        color: #443571;
        font-weight: 500;
    }
    .modal_header-gren{
        color: #97B13A;
        font-weight: 500;
    }
    section{
        width: calc(100% - 140px);
    }
    img{
        
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }
}

.modal-active{
    display:block;
}

@media screen and (max-width: 768px){
    .modal-window{
        padding: 36px;
        
        .btn{
            width: 100%;
            margin-top: 36px !important;
        }
    }
    .modal-checkbox{
        margin-left: 0 !important;
        font-size: 12px;
    }
    .custom-select{
        &__placeholder{
            width: 150px;
        }
        &__value{
            line-height: 12px;
        }
    }
}