.top-slider{
    position: relative;
    width: 100%;
    .slide{
        width: 100%;

        &__image{
            height: 500px;
        }
        .slick-prev{
            content: "";
            
            z-index: 999;
            cursor: pointer;
            width: 48px;
            height: 48px;
            background-image: url("/assets/ico/left-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0,0,0, .5);
            &::before{
                content: "";
            }
        }
        .slick-next{
            content: "";
            z-index: 999;
            cursor: pointer;
            width: 48px;
            height: 48px;
            background-image: url("/assets/ico/left-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0,0,0, .5);
            transform: rotate(180deg);
            &::before{
                content: "";
            }
        }
    }

    .arrow{
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-image: url("/assets/ico/left-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0, .5);
        &.right{
            transform: rotate(180deg);
        }
    }
    .slick-dots{
        width: 150px !important;
        margin: 0 auto !important;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 25px !important;
    }
    
    .slick-dots li button{
        max-width: 8px !important;
        height: 8px !important;
        background-color: $white !important;
        padding:5px !important;
        margin: 0;
    }
    .slick-dots li.slick-active button{
        background-color: transparent !important;
        background-image: url("/assets/ico/active-slide.svg") !important;
        background-repeat: no-repeat !important;
        max-width: 16px !important;
        height: 16px !important;
        background-position: center !important;
        margin: 0;
        padding: 10px !important;
    }
    .slick-dots li button::before{
        display: none;
    }
    
    .headslide{
        .slick-prev{
            left: 22%;
        }
        .slick-next{
            right: 22%;
        }
    }
    .aboutslide{
        .slick-prev{
            left: 2%;
        }
        .slick-next{
            right: 2%;
        }
    }
}




.coruselus{
    .slick-arrow{
        width: 48px;
        height: 48px;
        background-color: #F4D942;
        top: 40%;
        background-repeat: no-repeat;
        &::before{
            content: "";
        }
        &:hover{
            background-color: #F4D942;
        }
    }
    .slick-prev{
        left: -70px !important;
        background-image: url("/assets/ico/violet-arrow.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        transform: rotate(180deg);
        opacity: 0.8;
        &:hover{
            background-image: url("/assets/ico/violet-arrow.svg") !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            opacity: 1;
        }
    }
    .slick-next{
        right: -60px !important;
        background-image: url("/assets/ico/violet-arrow.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        transform: none;
        opacity: 0.8;
        &:hover{
            background-image: url("/assets/ico/violet-arrow.svg") !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            opacity: 1;
        }
    }
    .slick-dots{
        margin-top: 30px;
        width: 98%;
        background-color: #443571;
        height: 2px;
        display: flex !important;
        li{
            width: auto;
            height: 2px;
            margin: 0;
            flex-grow: 1;
            button{
                width: 100%;
                height: 2px;
                background-color: transparent;
                border: none;
            }
        }
        .slick-active{
            background-color: #F4D942;
        }
    }
    .slick-dots li button::before{
        display: none;
    }
}
.setingslide{
    .slick-arrow{
        border: 1px solid #443571;
        background-color: transparent;
    }
}





@media screen and (max-width: 768px){
    .top-slider{
        min-height: 40vh;
        .slide, &, .slide .row{
            height: 40vh;
        }
    }
}
@media screen and (max-width: 560px){
    .top-slider .slide__header{
        font-size: 22px;
    }
}