.top-slider{
    position: relative;
    width: 100%;
    .slide{
        width: 100%;

        &__image{
            height: auto;
            max-height: 800px;
        }
        .slick-prev{
            content: "";
            
            z-index: 999;
            cursor: pointer;
            width: 64px;
            height: 64px;
            background-image: url("/assets/img/arrleft.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: none;
            &::before{
                content: "";
            } 
        }
        .slick-next{
            content: "";
            z-index: 999;
            cursor: pointer;
            width: 64px;
            height: 64px;
            background-image: url("/assets/img/arrright.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: none;
            
            &::before{
                content: "";
            }
        }
    }

    .arrow{
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-image: url("/assets/ico/left-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0, .5);
        
    }
    .slick-dots{
        width: 130px !important;
        margin: 0 auto !important;
        left: 0;
        right: 0;
        
        bottom: 25px !important;
    }
    
    .slick-dots li button{
        max-width: 6px !important;
        height: 6px !important;
        background-color: $white !important;
        padding:5px !important;
        margin: 0;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button{
        background-color: transparent !important;
        background-image: url("/assets/img/starslide.png") !important;
        background-repeat: no-repeat !important;
        max-width: 24px !important;
        height: 24px !important;
        background-position: center !important;
        margin: 0;
        padding: 10px !important;
    }
    .slick-dots li button::before{
        display: none;
    }
    
    .headslide{
        .slick-prev{
            left: 5%;
        }
        .slick-next{
            right: 5%;
        }
    }
    .aboutslide{
        .slick-prev{
            left: -80px;
        }
        .slick-next{
            right: -80px;
        }
    }
}


.allstile .slide .slick-prev{
    background-image: url("/assets/img/arrallleft.png") !important;
}
.allstile .slide .slick-next{
    background-image: url("/assets/img/arrallright.png") !important;
}
.aboutslide .slide{
    .slick-dots{
        width: 130px !important;
        margin: 0 auto !important;
        left: 0;
        right: 0;
        
        bottom: -35px !important;
    }
    
    .slick-dots li button{
        max-width: 6px !important;
        height: 6px !important;
        background-color:  #443571 !important;
        padding:5px !important;
        margin: 0;
        border-radius: 50%;
        
    }
    .slick-dots li.slick-active button{
        background-color: #97B13A !important;
        background-image: none !important;
        background-repeat: no-repeat !important;
        max-width: 8px !important;
        height: 2px !important;
        background-position: center !important;
        margin: 0;
        padding: 8px !important;
    }
}

.coruselus{
    .coruselus-itemes{
        padding: 0 5px;
        img{
            width: 100%;
        }
    }
    .slick-arrow{
        width: 64px;
        height: 64px;
        
        background-repeat: no-repeat;
        outline: none;
        &::before{
            content: "";
        }
        
    }
    
    .slick-prev{
        left: -70px !important;
        background-image: url("/assets/img/arrallleft.png") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        opacity: 0.8;
        top: 100px;
    }
    .slick-next{
        right: -60px !important;
        background-image: url("/assets/img/arrallright.png") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        transform: none;
        opacity: 0.8;
        top: 65px;
    }
    .slick-dots{
        margin-top: 30px;
        width: 98%;
        background-color: #443571;
        height: 2px;
        display: flex !important;
        li{
            width: auto;
            height: 2px;
            margin: 0;
            flex-grow: 1;
            button{
                width: 100%;
                height: 2px;
                background-color: transparent;
                border: none;
            }
        }
        .slick-active{
            background-color: #F4D942;
        }
    }
    .slick-dots li button::before{
        display: none;
    }
}

//qqqqq
.top-slider .headslide .slick-prev{
	top: 55%;
}
.top-slider .slide .slick-next{
	top: 55%;
}

.characteristic .coruselus .slick-prev{
	top: 160px;
}
.characteristic .coruselus .slick-next{
	top: 130px;
}
.characteristic img{
	cursor: pointer;
}

@media screen and (max-width: 768px){
    
    .top-slider .slide__image{
        height: auto;
    }
    .top-slider .slick-dots{
        display: none !important;
    }
    .top-slider .aboutslide .slick-prev{
        left: 5px;
    }
    .top-slider .aboutslide .slick-next{
        right: 5px;
    }
    .top-slider .aboutslide .slick-list{
        margin: 0 70px;
    }
    .top-slider .aboutslide .slick-dots{
        display: block !important;
        bottom: 30px;
    }
    .characteristic .slick-slider{
        margin-left: 80px;
        margin-right: 85px;
        img{
            width: 100%;
        }
    }
    .characteristic .slick-slider .slick-prev{
        left: 5px;
        top: 50%;
    }
    .characteristic .slick-slider .slick-next{
        right: 5px;
        top: 40%;
    }
    .steps .slick-list{
        margin: 0 70px;
    }
    .steps .slick-slider .slick-prev{
        left: 5px !important;
        top: 50%;
    }
    .steps .slick-slider .slick-next{
        right: 5px !important;
        top: 40%;
    }
}
@media screen and (max-width: 560px){
    .top-slider .slide__header{
        font-size: 22px;
    }
}
@media screen and (max-width: 480px){
	.top-slider .headslide .slick-prev{
		width: 22px;
		height: 22px;
		background-size: cover;
	}
	.top-slider .headslide .slick-next{
		width: 22px;
		height: 22px;
		background-size: cover;
	}
    .top-slider .aboutslide .slick-prev{
        left: 5px;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 110%;
    }
    .top-slider .aboutslide .slick-next{
        right: 5px;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 110%;
        
    }
    .top-slider .aboutslide .slick-list{
        margin: 0;
    }
    
    .location .slick-slider .slick-prev{
        left: 5px;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 110%;
    }
    .location .slick-slider .slick-next{
        right: 5px;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 105%;
    }
    .characteristic .slick-slider{
        margin-left: 80px;
        margin-right: 80px;
    }
    .characteristic .slick-slider .slick-prev{
        left:-50px !important;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 110%;
    }
    .characteristic .slick-slider .slick-next{
        right: -50px !important;
        width: 34px;
        height: 34px;
        background-size: cover;
        top: 105%;;
    }
    .steps .slick-slider .slick-prev{
        left: 5px !important;
        top: 50%;
        width: 34px;
        height: 34px;
        background-size: cover;
    }
    .steps .slick-slider .slick-next{
        right: 5px !important;
        top: 44%;
        width: 34px;
        height: 34px;
        background-size: cover;
    }
}