.seting_page{
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 40px;
}
.seting_page-title{
    width: 100%;
    position: relative;
    color: #443571;
    font-size: 32px;
    font-weight: 500;
    span{
        color: #97B13A;
        padding-left: 5px;
    }
    .close{
        position: fixed;
        right: 5%;
        top:55px;
        cursor: pointer;
				background-color: #fff;
				z-index: 999;
    }
}
.seting_page-nav-box{
    margin-top: 30px;
    border-bottom: 1px solid #D5D5D5;
}
.seting_page-nav{
    display: flex;
    .seting_page-nav-item{
        color: #443571;
        font-size: 11px;
        text-transform: uppercase;
        margin-right: 30px;
        padding-bottom: 10px;
        cursor: pointer;
        &:last-child{
            margin-right: none;
        }
    }
    .active{
        font-weight: bold;
        border-bottom: 2px solid #97B13A;
    }
}
.seting_page-about{
    margin-top: 100px;
    display: flex;
    .seting_page-aboutleft{
        width: 50%;
    }
    .seting_page-aboutright{
        width: 50%;
    }
    .seting_page-about-title{
        font-size: 32px;
        color: #443571;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .seting_page-about-text{
        color: #444444;
        font-weight: 300;
        font-size: 14px;
        p{
            margin-top: 20px;
        }
    }
}
.check_hous{
    margin-top: 25px;
    margin-bottom: 20px;
}
.check_hous-nav{
    display: flex;
    .check_hous-item{
        border:2px solid #97B13A;
        padding: 5px 10px;
        color: #443571;
        font-weight: 500;
        font-size: 12px;
        margin-right:10px;
        span{
            padding-left:5px;
        }
    }
}
.selet_hous_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selet_left{
	width: 45%;
}
.selet_hous{
    width: 100%;
    padding: 40px;
    .selet_hous-title{
        color: #443571;
        font-weight: bold;
        font-size: 26.1818px;
        text-transform: uppercase;
        margin-bottom:20px;
        span{
            display:block;
        }
        .tit{
            padding:5px 10px;
            background: #97B13A;
            color:#fff
        }
    }
    .selet_hous-text{
        color: #444444;
        font-weight: 300;
        font-size: 12px;
    }
    .selet_hous-button{
        cursor: pointer;
        width: 260px;
        margin-top: 30px;
        padding: 15px 0;
        text-align: center;
        color: #443571;
        font-size: 16px;
        font-weight: 500;
        background: #FECE42;
    }
}
.selet_hous-dot{
	border: 1px solid #D5D5D5;
}
.selet_hous-slide{
    width: 45%;
		height: 500px;
    img{
        width: 100% !important;
        height: 100% !important;
    }
    .slide .slick-dots{
        width: auto !important;
    }
}
.streenbox{
    display: flex;
    margin: 30px 0;
    .streenbox-item{
        border: 1px solid #D5D5D5;
        padding: 9px 12px;
        display: flex;
        color: #443571;
        font-weight: 500;
        font-size: 12px;
        margin-right: 15px;
        .car{
            color: #444444;
            font-size: 12px;
            display: -moz-box;
            display: flex;
            -moz-box-align: center;
            align-items: center;
            font-weight: 300;
            margin-left: 15px;
        }
        .car::before {
            margin-right: 8px;
            content: "";
            background-image: url("/assets/ico/car.svg");
            width: 12px;
            height: 10px;
        }
    }
}
@media screen and (max-width: 840px){
    .seting_page-about{
        flex-wrap: wrap;
    }
    .seting_page-about .seting_page-aboutleft,
    .seting_page-big{
        width: 100%;
    }
    .seting_page-about .seting_page-aboutright{
        width: 100%;
    }
    .selet_hous_box,.streenbox,.seting_page-nav{
        flex-wrap: wrap;
    }
    
    .selet_hous{
        width: 100%;
    }
    .selet_hous-slide{
        width: 80%;
    }
    .streenbox .streenbox-item{
        margin-top: 10px;
    }
    .seting_page-nav .seting_page-nav-item{
        margin-bottom: 30px;
        padding-bottom: 3px;
    }
    .selet_hous-slide img{
        width: 100%;
        height: auto !important;
    }
}
@media screen and (max-width: 480px){
    .seting_page-title{
        font-size: 16px;
    }
    .seting_page-about-img{
        width: 100%;
    }
    selet_hous_box{
        flex-direction: column;
    }
    .selet_hous-slide{
        width: 60%;
    }
    .selet_hous-slide .slick-slider .slick-prev{
        top: 106% !important;
    }
    .check_hous-nav{
        flex-direction: column;
    }
    .check_hous-item{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .streenbox-item{
        width: 100%;
        justify-content: space-between;
    }
}